matplotlib=3.0.2
cx-Oracle=7.0.0
Scrapy=1.5.2
Twisted=18.9.0
PyQt5=5.11.3
PyQt5-sip=4.19.13
cryptography=2.5
lxml=4.3.0
numpy=1.16.0
paramiko=2.4.2
parsel=1.5.1
pyOpenSSL=19.0.0
pywin32=224
redis=3.2.0
requests=2.21.0
wxPython=4.0.4
xlrd=1.2.0